<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ name_site }}!{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link type="text/html" href="https://bootswatch.com/">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/Yeti/yeti.css') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/users.css') }}"/>

    <style>
        *{
            font-family: 'Sriracha', cursive;

        }
    </style>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<h1 class="brand-logo--big fixed-top">
    <a class="brand-logo_link" href="{{ path('home') }}">BLOG DCCG</a>
</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{{ path('home') }}">DAOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="{% if app.request.attributes.get('_route') == 'home' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link" href="{{ path('home') }}">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="{% if app.request.attributes.get('_route') == 'articles' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link" href="{{ path('articles') }}">Articles</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'team' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link" href="#">Team</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'forum' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link text-info" href="#">Forum</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'products_index' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link text-info" href="#">Boutiques</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'contact' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'portfolio' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link" href="#">Portfolios</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'chat' %}nav-item active{% else %}nav-item{% endif %}">
                <a class="nav-link text-info" href="#">Chat</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Infos</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Nous</a>
                    <a class="dropdown-item" href="#">FAQ</a>
                    <a class="dropdown-item" href="#">Conditions d'utilisation</a>
                    <a class="dropdown-item" href="#">Mentions légales </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Formulaire de contact</a>
                </div>
            </li>
        </ul>
        <ul  class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  text-danger" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Back-Office</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">ADMINISTRATION</a>
                    <a class="dropdown-item" href="{{ path('admin_users') }}">Manage Users</a>
                    <a class="dropdown-item" href="#">Manage Products</a>
                    <a class="dropdown-item" href="#">Manage Categories</a>
                    <a class="dropdown-item" href="#">Manage Categories Health</a>
                    <a class="dropdown-item" href="#">Manage Blog</a>
                    <a class="dropdown-item" href="#">Admin Blog</a>
                    <a class="dropdown-item" href="#">Manage Forum</a>
                    <a class="dropdown-item" href="#">Manage Annonces</a>
                    <a class="dropdown-item" href="#">Admin Annonces<span class="sr-only"></span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Edit Mailing</a>
                    <a class="dropdown-item" href="{{ path('home') }}">Manage Site Daos</a>
                </div>
            </li>
        </ul>
        {% if app.user is defined %}
        {% if app.user %}
        <ul  class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> {{ app.user.email }} / Mon Compte</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">My Wishlist</a>
                    <a class="dropdown-item" href="#">My Profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">My Cart</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>

            {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="{% if app.request.attributes.get('_route') == 'app_login' %}nav-item active{% else %}nav-item{% endif %}">
                    <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'app_register' %}nav-item active{% else %}nav-item{% endif %}">
                    <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                </li>

                {% endif %}
                {% endif %}
            </ul>
        </ul>

    </div>
</nav>

<div class="conatainer">
    <div class="jumbotron">
        {% block body %}
        {% endblock %}
    </div>
</div>


{% block footer %}

    {#{% include 'front/Site/' ~ name_repo ~ '/views/Site/footer.html.twig' %}#}

    {#{% include 'front/Site/' ~ name_repo ~ '/views/Site/footer-1.html.twig' %}#}
    {#{% include 'front/site/footer/footer.html.twig' %}#}


{% endblock %}


{% block javascripts %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.js" integrity="sha256-mMw9aRRFx9TK/L0dn25GKxH/WH7rtFTp+P9Uma+2+zc=" crossorigin="anonymous"></script>
<!-- Axentix JS minified version -->
<script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/js/axentix.min.js"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>
<script src="{{ asset('assets/js/graph.js') }}"></script>

<script type="text/javascript">
//    $(document).ready(function() {
//        "use strict"; // Start of use strict
//
//        // Closes the sidebar menu
//        $(".menu-toggle").click(function (e) {
//            e.preventDefault();
//            $("#sidebar-wrapper").toggleClass("active");
//            $(".menu-toggle > .fa-bars, .menu-toggle > .fa-times").toggleClass("fa-bars fa-times");
//            $(this).toggleClass("active");
//        });
//
//        $('#buttonFlipStat').click(function(){
//            $("#flex-container-fade").slideToggle("slow");
//        });
//
//    });
    //        $(document).ready(function(){
    //            $('li').on('click', function(){
    //                $(this).siblings().removeClass('active');
    //                $(this).addClass('active');
    //            })
    //        })
</script>
</body>
</html>
